<div class="container">
    <h1 class="text-center">Sign up</h1>
    <br>

   <!-- <div class="top-name center-block text-center">
        <div class="row">
            <div class="col-md-2 col-md-offset-3"><a href="#" class="btn btn-info">Facebook</a></div>
            <div class="col-md-2"><a href="#" class="btn btn-info">Twitter</a></div>
            <div class="col-md-2"><a href="#" class="btn btn-info">Vkontakte</a></div>        
        </div>
    </div>-->
    <br>
<div class="form-horizontal col-sm-offset-3 col-sm-10">
  <div class="form-group">
    <div class="alert col-sm-offset-2 col-sm-4" role="alert">
        {{error}}
    </div>
  </div>
   <div class="form-group">
        <label class="col-sm-2 control-label" for="inputDefault">Full name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputDefault" [(ngModel)]="username" placeholder="Full name" required>
        </div>
    </div>
    <div class="form-group">        
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="inputEmail3" [(ngModel)]="email" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="inputPassword3" [(ngModel)]="password"  placeholder="Password" required>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-info btn-default btn-block" (click)="registerNewUser($event)">Sign up</button>
        </div>

        <div class="col-sm-7" style="height: 40px"></div>
        <div class="separator col-sm-offset-2 col-sm-4"></div>
        <div class="col-sm-9" style="height: 40px"></div>

        <div class="col-sm-offset-3 col-sm-2">
            <button class="btn btn-info btn-sm btn-block" routerLink="/login">Sign in</button>
        </div>
    </div>
</div>
</div>
