<app-navbar></app-navbar>
<div class="profile">
  <div class="col-sm-offset-3 col-sm-6 userInfo">
    <div  class="col-sm-3">
      <img class="userImg" src="{{user['imageUrl']}}" >
    </div>
    <div class="col-sm-offset-2 col-sm-4">
      <h3 id="username">{{user['username']}}</h3>
      <button routerLink="/user/{{id}}/settings" type="submit" class="btn btn-info btn-sm" *ngIf="user['username']===currentUser['username']">Редактировать данные</button>
    </div>
  </div>
</div>



<div class="container"> 
  <tabset class="col-md-offset-1 col-md-11">
      <tab title="Projects" [active]="true">
        <p *ngFor="let project of projects">
           <app-card [project]="project"></app-card>
        </p>
      </tab>
      <tab title="Support">
          
      </tab>
      <tab title="Comments">
          
      </tab>
  </tabset>
</div>
