<app-navbar></app-navbar>
<div class="info">
  <div class="col-md-offset-2 col-md-8">
    <div  class="col-md-6 user-img">
      <img id='project-img' src="http://res.cloudinary.com/dyzdll94h/image/upload/v1505994851/bngp74njkqpynfmcn1dx.jpg" >
    </div>
    <div class="col-md-offset-2 col-md-4">
      <div class="img-upload">
          <div class="img-label btn btn-info">Add project picture</div>
          <input type="file" (change)="uploadFile($event)">
          
      </div>
    </div>
  </div>
</div>

<div class="container" > 
    <div  class="col-sm-4 col-md-offset-1 col-md-8" >      
      <div class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="inputDefault" class="col-md-3 control-label">Project title</label>
            <div class="input-group col-md-8">
              <input type="text" class="form-control" id="inputDefault" placeholder="Project title" [(ngModel)]="newProject['title']">
            </div>
          </div>
          <div class="form-group">
            <label for="textArea" class="col-md-3 control-label">Project description</label>
            <div class=" input-group col-md-8">
              <textarea class="form-control" rows="10" id="textArea" [(ngModel)]="newProject['description']"></textarea>
            </div>
          </div>
          <div class="form-group" >
            <label for="inputDefault" class="col-md-3 control-label">Last date of project availability</label>
            <div class="col-md-7"  id="date">
              <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
            </div>
          </div>      
          <div class="form-group">
            <label for="budget" class=" col-md-3 control-label">Budget</label>
            <div class="input-group col-md-8">                
              <input type="text" class="form-control" [(ngModel)]="newProject['budget']">
              <span class="input-group-addon">BYN</span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-9">
              <button type="submit" class="btn btn-info" (click)="saveChanges($event)">Add project</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  